{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(form) }}
        
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(form) }}
    
    {% if form_errors(form) %}
        <div class="errors">
            {% for error in form_errors(form) %}
                <span>{{ error.message }}</span>
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock %}
